<div *ngIf='product'>

    <div class = "column">
      <h2>{{product.name}} Details</h2>
    
      <div>
        <li>Price:  $ {{product.price}}.00</li>
      </div>
      
      <div>
        <li>Size: {{product.size}}</li>
      </div>
      
      <div>
        <li>Type: {{product.subtype}}</li>
      </div>
      
      <div>
        <li>Product ID: {{product.id}}</li>
      </div>
    </div>
    
    <div class = "column">
      <span>
        <img width=250 alt={{product.imgName}} src={{product.imgURL}}>
      </span>
    </div>
</div>