<div class="container">

  <h1>Order</h1>

    <form>

        <div class="form-group">

            <label for="title">First Name</label>

            <input type="text" class="form-control" id="title" required>

          </div>

        <div class="form-group">

            <label for="title">Last Name</label>

            <input type="text" class="form-control" id="title" required>

          </div>

          <div class="form-group">

              <label for="title">Phone Number</label>

              <input type="text" class="form-control" id="title" required>

            </div>

      <div class="form-group">

        <label for="title">Email</label>

        <input type="text" class="form-control" id="title" required>

      </div>

      <div class="form-group">

        <label for="author">Product ID</label>

        <input type="text" class="form-control" id="author" required>

      </div>

      <div class="form-group">

        <label for="author">Quantity</label>

        <input type="text" class="form-control" id="author" required>

      </div>

      <button type="login" class="btn btn-default">Order</button>

    </form>

</div>