<h1>
  The Buck-I-Booze Team!
</h1>

<div class="column">
  <h2>
    Kelly Hayes
  </h2>

  <body>
    <img width="150" alt="Kelly" src="https://scontent-ort2-2.xx.fbcdn.net/v/t31.0-8/17359471_1584687781549096_3905014022363899000_o.jpg?_nc_cat=0&oh=85f6ceed40b96ea1a19c95c17d66fb66&oe=5B744ACB">
    <br>Phone: (440) 334 - 8204  
    <br>Email: hayes.863@osu.edu
  </body>
</div>

<div class="column">
  <h2>
    Jared Heidotting
  </h2>

  <body>
    <img width="150" alt="Mason" src="https://i.groupme.com/750x750.jpeg.008744aef9214576bbca2332bec0b7dc">
    <br>Phone: (216) 555 - 5555
    <br>Email: heidotting.jared@yahoo.com
  </body>
</div>

<div class="column">
  <h2>
    Mason Buck
  </h2>

  <body>
    <img width="150" alt="Mason" src="https://i.groupme.com/1024x767.jpeg.3da1c152fd8947faa0b243e12b56377c">
    <br>Phone: (440) 555 - 5555
    <br>Email: buck.mason@yahoo.com
  </body>
</div>