h1{
    color:black;
    text-decoration: underline;
    font-size: 100px;
    font-weight: bolder;
    position: relative;
    text-align: center;
    width: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




