.column {
    float: left;
    margin-right: 10%;
}
.left {
    width: 40%;
}
.right {
    width: 60%;
}

h2 {
    font: 200 40px Helvetica, Verdana, sans-serif;
    color: rgb(107, 105, 105);
    font-weight: bolder;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;

    text-decoration: none;
    color: #000;
    display: block;
    width: 400px;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
   
li:last-child {
    border: none;
}